/Mandag/react-and-routing/node_modules
/Mandag/react-and-routing/.pnp
/Mandag/react-and-routing/.pnp.js
/Mandag/react-and-routing/coverage
/Mandag/react-and-routing/build
/Mandag/react-and-routing/.DS_Store
/Mandag/react-and-routing/.env.local
/Mandag/react-and-routing/.env.development.local
/Mandag/react-and-routing/.env.test.local
/Mandag/react-and-routing/.env.production.local
/Mandag/react-and-routing/npm-debug.log*
/Mandag/react-and-routing/yarn-debug.log*
/Mandag/react-and-routing/yarn-error.log*

/Mandag/react-and-router-getting-startet/node_modules
/Mandag/react-and-router-getting-startet/.pnp
/Mandag/react-and-router-getting-startet/.pnp.js
/Mandag/react-and-router-getting-startet/coverage
/Mandag/react-and-router-getting-startet/build
/Mandag/react-and-router-getting-startet/.DS_Store
/Mandag/react-and-router-getting-startet/.env.local
/Mandag/react-and-router-getting-startet/.env.development.local
/Mandag/react-and-router-getting-startet/.env.test.local
/Mandag/react-and-router-getting-startet/.env.production.local
/Mandag/react-and-router-getting-startet/npm-debug.log*
/Mandag/react-and-router-getting-startet/yarn-debug.log*
/Mandag/react-and-router-getting-startet/yarn-error.log*

/Onsdag/react-jwt-auth-demo/node_modules
/Onsdag/react-jwt-auth-demo/.pnp
/Onsdag/react-jwt-auth-demo/.pnp.js
/Onsdag/react-jwt-auth-demo/coverage
/Onsdag/react-jwt-auth-demo/build
/Onsdag/react-jwt-auth-demo/.DS_Store
/Onsdag/react-jwt-auth-demo/.env.local
/Onsdag/react-jwt-auth-demo/.env.development.local
/Onsdag/react-jwt-auth-demo/.env.test.local
/Onsdag/react-jwt-auth-demo/.env.production.local
/Onsdag/react-jwt-auth-demo/npm-debug.log*
/Onsdag/react-jwt-auth-demo/yarn-debug.log*
/Onsdag/react-jwt-auth-demo/yarn-error.log*